* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

.container {
    max-width: 1160;
    margin: auto;
}

header {
    border-color: red;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .marca {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}