
#usuarios{
    padding: 32px;
}

#usuarios .usuarios-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

#usuarios .usuario {
    width: 100%;
    border: 1.5px solid #dcdceb;
    border-radius: 16px;
    padding: 20px;
    color: #01528A;
}

#usuarios .usuario h5 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
}

#usuarios .usuario p {
    font-size: 14px;
    font-weight: 300;
}

#usuarios .usuario-comentario {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    text-align: justify;
    padding-top: 16px;
}