* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

main {
    background-color: #C0C0C0;
    padding: 1px;
}

main h1{
    margin-top: 0;
}

main h2 {
    margin: 32px;
    font-weight: 300;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #235818;
}

.container {
    max-width: 1160px;
    margin: auto;
}

header {
    padding: 40px;
    background-color: #000080;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

header .brand img {
    width: 40px;
}

header .brand h6 {
    font-size: 28px;
    color: #235818;
    font-weight: 500;
    line-height: 30px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

header ul li {
    font-weight: 300;
    line-height: 36px;
}

header li a {
    text-decoration: none;
    color: #000;
}

header a:hover,
header a.active {
    color: #235818;
}

header li a.active {
    padding: 10px;
    font-weight: 400;
    border: 2px solid #235818;
    border-radius: 4px;
}

header li button {
    background-color: #1f174e;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-left: 16px;
    line-height: 20px;
}

#banner {
    height: 500px;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner h1 {
    color: #756000;
    padding: 24px;
    font-weight: 400;
    font-size: 62px;
    max-width: 300px;
}

#banner h3 {
    color: #0c2700;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    max-width: 250px;
    padding: 24px;
}

#banner .banner-content {
    top: 0;
    left: 0;
    bottom: 0;
    width: 650px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), #ffffff 50%);
}

#cards {
    margin: 32px 0;
}

#cards .cards-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cards .card {
    width: 530px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 48px;
    position: relative;
}

#cards .card img {
    width: 220px;
    height: 160px;
}

#cards .card h4 {
    font-weight: 400;
    margin-bottom: 12px;
    text-align: justify;
}

#cards .card p {
    font-weight: 300;
    margin-bottom: 12px;
    text-align: justify;
    color: #3e6d3d;
    max-height: 72px;
    overflow: hidden;
}

#cards .card .botao_conectar {
    position: absolute;
    display: flex;
    justify-content: end;
    right: 20px;
    bottom: 20px;
}

#cards .botao_conectar p {
    background-color: #0889d4;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px;
}

#conectados {
    margin-top: 0;
    padding: 32px;
}

#conectados .conectados-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

#conectados .conectados-conteudo .conectado {
    width: 100%;
    border-left: 2px solid #0889d4;
}

#conectados .conectado:first-of-type {
    border-left: none;
}

#conectados .conectado p {
    text-align: center;
}

#conectados .conectado .valor {
    font-size: 32px;
    font-weight: 400;
}

#conectados .conectado .rotulo {
    font-size: 24px;
    font-weight: 300;
    color: #040525;
}

#usuarios{
    padding: 32px;
}

#usuarios .usuarios-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

#usuarios .usuario {
    width: 100%;
    border: 1.5px solid #dcdceb;
    border-radius: 16px;
    padding: 20px;
    color: #01528A;
}

#usuarios .usuario h5 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
}

#usuarios .usuario p {
    font-size: 14px;
    font-weight: 300;
}

#usuarios .usuario-comentario {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    text-align: justify;
    padding-top: 16px;
}

#valores img{
    height: 250px;
}

#valores .valores-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 32px;
}

#valores .valores-conteudo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

#valores .valores-conteudo p {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

#valores .valor-pontos {
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#valores .valor-pontos .valor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#valores .valor-pontos span {
    background-image: url();
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer {
    background-color: #1e5474;
    color: #fff;
    padding: 32px;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-empresa {
    width: 450px;
    max-width: 250px;
}

footer .footer-empresa .footer-logo {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    padding-left: 40px;
    background-image: url();
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 32px;
    margin-bottom: 16px;
}

footer .footer-empresa p {
    font-weight: 300;
    font-size: 16px;
}

footer .footer-menu {
    font-weight: 300;
    font-size: 12px;
}

footer .footer-menu-titulo {
    font-weight: 400;
    font-size: 16px;
}

footer .footer-menu ul {
    list-style-type: none;
    margin-top: 16px;
    font-size: 16px;
}

footer .footer-menu li {
    margin-bottom: 8px;
    font-size: 16px;
}

footer .footer-menu a {
    color: #fff;
    text-decoration: none;
}

footer .footer-menu a:hover {
    text-decoration: underline;
}

footer .footer-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
    gap: 20px;
}

footer .footer-sociais span {
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
    gap: 20px;
}

footer .footer-sociais .face {
    background-image: url('../img/facebook.svg');
}

footer .footer-sociais .twit {
    background-image: url(../img/twitter.svg);
}

footer .footer-sociais .insta {
    background-image: url(../img/instagram.svg);
}

footer .footer-sociais .linkd {
    background-image: url(../img/linkedin.svg);
}

footer .footer-direitos {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}