
footer {
    background-color: #1e5474;
    color: #fff;
    padding: 32px;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-empresa {
    width: 450px;
    max-width: 250px;
}

footer .footer-empresa .footer-logo {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    padding-left: 40px;
    background-image: url();
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 32px;
    margin-bottom: 16px;
}

footer .footer-empresa p {
    font-weight: 300;
    font-size: 16px;
}

footer .footer-menu {
    font-weight: 300;
    font-size: 12px;
}

footer .footer-menu-titulo {
    font-weight: 400;
    font-size: 16px;
}

footer .footer-menu ul {
    list-style-type: none;
    margin-top: 16px;
    font-size: 16px;
}

footer .footer-menu li {
    margin-bottom: 8px;
    font-size: 16px;
}

footer .footer-menu a {
    color: #fff;
    text-decoration: none;
}

footer .footer-menu a:hover {
    text-decoration: underline;
}

footer .footer-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
    gap: 20px;
}

footer .footer-sociais span {
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
    gap: 20px;
}

footer .footer-sociais .face {
    background-image: url('../../assets/img/facebook.svg');
}

footer .footer-sociais .twit {
    background-image: url('../../assets/img/twitter.svg');
}

footer .footer-sociais .insta {
    background-image: url('../../assets/img/instagram.svg');
}

footer .footer-sociais .linkd {
    background-image: url('../../assets/img/linkedin.svg');
}

footer .footer-direitos {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}